{% extends 'moodtracker/base.html' %}
{% block title %}Be.com - 감정일기{% endblock %}
{% load static %}
{% block extra-style %}<link rel="stylesheet" type="text/css" href="{% static 'css/moodtracker_style.css' %}">{% endblock %}
{% block script %}
<script language="javascript">
    
</script>
{% endblock %}

{% block content %}
<div class="moodtracker-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link link-active" href="#">쓰기</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-disabled" href="{% url 'moodtracker:analysis' %}">분석</a>
        </li>
    </ul>
</div>
<div class="main_wrap">
    <div class="calendar">
        <div class="moodtracker-title">감정 일기 리스트</div>
        <div class="calendar-content">
            {% for record in records.all %}
                <a class="record-list" href="{% url 'moodtracker:view' record.id %}">{{ record.pub_date_month }}월 {{ record.pub_date_day }}일의 감정일기</a> <br>
            {% endfor %}
        </div>
        <div class="write-link-div"><a href="{% url 'moodtracker:write' %}" class="write-link">쓰기</a></div>
    </div>
    <div class="record">
        <div class="moodtracker-title">그날의 감정 일기</div>
        <div class="record-content" style="float:left;">
            <div class="record-date">
                <div class="view-record-date">
                    {{sp_record.pub_date_year}}년 {{sp_record.pub_date_month}}월 {{sp_record.pub_date_day}}일
                </div>
                <div class="view-record-mood">
                    {% if sp_record.mood == 'happy' %} <!--저장된 mood에 따라 image src url로 삽입하기-->
                        <img src="{% static 'img/happy_emoji.png' %}" height=50>
                    {% elif sp_record.mood == 'sad' %}
                        <img src="{% static 'img/sad_emoji.png' %}" height=50>
                    {% elif sp_record.mood == 'calm' %}
                        <img src="{% static 'img/calm_emoji.png' %}" height=50>
                    {% elif sp_record.mood == 'angry' %}
                        <img src="{% static 'img/angry_emoji.png' %}" height=50>
                    {% elif sp_record.mood == 'soso' %}
                        <img src="{% static 'img/soso_emoji.png' %}" height=50>
                    {% endif %}
                </div>
            </div>
            <div class="view-record-content">
                {{sp_record.content}}<!--저장된 일기 content 표기-->
            </div>
        </div>
        <div style="float:left;">
            {% if sp_record.images %}
            <div style="width:200px; max-height:250px;">
                <img src="{{ sp_record.images.url }}" style="width:100%; vertical-align:middle; border-radius:10px; padding-bottom: 10px;">
            </div>
            <div style="background-color:#FEF3E1; padding:10px; overflow:auto;">
                <div style="float:left; margin-left:30px; margin-right:20px;">
                    분노<br>
                    경멸<br>
                    혐오<br>
                    공포<br>
                    기쁨<br>
                    중립<br>
                    슬픔<br>
                    놀람<br>
                </div>
                <div style="float:left; text-align:right;">
                    {{sp_record.anger}} %<br>
                    {{sp_record.contempt}} %<br>
                    {{sp_record.disgust}} %<br>
                    {{sp_record.fear}} %<br>
                    {{sp_record.happiness}} %<br>
                    {{sp_record.neutral}} %<br>
                    {{sp_record.sadness}} %<br>
                    {{sp_record.surprise}} %
                </div>
            </div>
            {% else %}
            <div style="padding: 104px 20px; color:#807C77;">
                등록된 사진이 없습니다.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}