{% extends 'moodtracker/base.html' %}

{% load static %}

{% block title %}Be.com - 감정일기{% endblock %}
{% block extra-style %}<link rel="stylesheet" type="text/css" href="{% static 'css/moodtracker_style.css' %}">{% endblock %}
{% block content %}
<div class="moodtracker-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link link-active" href="#">쓰기</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-disabled" href="{% url 'moodtracker:analysis' %}">분석</a>
        </li>
    </ul>
</div>
<div class="main_wrap">
    <div class="calendar">
        <div class="moodtracker-title">감정 일기 리스트</div>
        <div class="calendar-content"><!--
            <table class = "main_calendar" id = "tab">
                <tr>
                    <td class="calendar_prev" id="prev"><label class="calendar_label" onclick="prevmonth()"><</td>
                    <td class="calendar_year_month" id="Ymd"colspan="5"></td>
                    <td class="calendar_next" id="next"><label class="calendar_label" onclick="nextmonth()">></td>
                </tr>
                <tr class="calendar_weekday">
                    <td class="week_sun">일</td>
                    <td class="week_mon">월</td>
                    <td class="week_tue">화</td>
                    <td class="week_wed">수</td>
                    <td class="week_thu">목</td>
                    <td class="week_fri">금</td>
                    <td class="week_sat">토</td> 
                </tr>
                
            </table>
        -->
            {% for record in records.all %}
                <a class="record-list" href="{% url 'moodtracker:view' record.id %}">{{ record.pub_date_month }}월 {{ record.pub_date_day }}일의 감정일기</a> <br>
            {% endfor %}
        </div> 
    </div>
    <div class="record">
        <div class="moodtracker-title">감정 일기 작성</div>
        <div class="record-write" style="float:left;">
            <div class="record-date">{{year}}년 {{month}}월 {{day}}일</div>
            <form action="{% url 'moodtracker:create' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="mood_input">
                    <label>
                        <input type="radio" name="mood" value="happy" checked="checked"><!--<label for="happy">&nbsp;</label>-->
                        <img src="{% static 'img/happy_emoji.png' %}" height=50>
                    </label>
                    <label>
                        <input type="radio" name="mood" value="sad">
                        <img src="{% static 'img/sad_emoji.png' %}" height=50>
                    </label>
                    <label>
                        <input type="radio" name="mood" value="calm">
                        <img src="{% static 'img/calm_emoji.png' %}" height=50>
                    </label>
                    <label>
                        <input type="radio" name="mood" value="angry">
                        <img src="{% static 'img/angry_emoji.png' %}" height=50>
                    </label>
                    <label>
                        <input type="radio" name="mood" value="soso">
                        <img src="{% static 'img/soso_emoji.png' %}" height=50>
                    </label>
                </div>
                <div class="content_input">
                    <textarea placeholder=" 감정 일기 작성" onkeyup="autoTextarea(this,100)" id="text" name="content" rows="10" style="word-wrap: break-word; resize: none; width: 300px; "></textarea>  
                    <br>
                </div>
                <div>
                    <input type="file" name="images" accept="image/*">
                </div>
                <div class="diary_submit_button_wrap">
                    <input type="submit" class="diary_submit_button" value="저장" name="submit"/>
                </div>
            </form>
        </div>
        <div style="float:left; padding-top: 15px;">
            <div style="margin-top: 120px; font-size: 14px; background-color:#FEF3E1; padding:10px; overflow:auto; width: 250px;">
                작성된 감정일기는 다른 사용자에게 절대 공개되지 않으니 안심하세요!
            </div>
            <div style="margin-top: 185px; font-size: 14px; background-color:#FEF3E1; padding:10px; overflow:auto; width: 250px;">
                얼굴이 나온 사진을 업로드하고 감정을 분석해보세요!
            </div>
        </div>
    </div>
</div>
    

{% endblock %}