{% extends "registration/base.html" %}
{% load widget_tweaks %}

{% block title %}회원가입{% endblock %}

{% block content %}

    <h1>회원가입</h1>
    <span class="font-italic">아이디와 패스워드를 입력해주세요.</span>
    &nbsp;&nbsp;<span><a href="{% url 'login' %}">로그인하기</a></span>

    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-weight-bold">잘못 입력되었습니다. 아래를 확인해주세요.</div>
        {{ form.errors }}
    </div>
    {% endif %}

    <form action="." method="post" class="card pt-3">{% csrf_token %}

        <div class="form-group row">
            {{ form.username|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.username|add_class:"form-control"|attr:"autofocus" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.password1|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.password1|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.password2|add_label_class:"col-form-label col-sm-3 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.password2|add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <div class="offset-sm-3 col-sm-5">
                <input type="submit" value="회원가입" class="btn btn-info"/>
            </div>
        </div>

    </form>

{% endblock %}

