{% extends 'mate/base.html' %}

{% load static %}

{% block extra-style %}<link rel="stylesheet" type="text/css" href="{% static 'css/mate_style.css' %}">{% endblock %}

{% block title %}Be.com - 짝꿍{% endblock %}


{% block content %}
<div class="container">
    <div class="go-home-button"><a href="{% url 'mate:home' %}" style="color:#5B5652;"><img src="{% static 'img/left_arrow.png' %}" height="16" style="float:left; margin-top:4px;">짝꿍 홈</a></div>
    <div class="mate-detail">
        <div class="mate-detail-title">갤러리</div>
        <div style="float:right;">
            <form  method="POST" action="{% url 'mate:upload' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!--
                <select name="topic">
                    <option value="profile-image">프로필 사진</option>
                    <option value="favorite-spot">좋아하는 장소</option>
                    <option value="happiness">행복할 때</option>
                    <option value="friends">친구들과 함께</option>
                    <option value="favorite-movie">좋아하는 영화</option>
                    <option value="else">기타</option>
                </select>
                -->
                <div class="filebox">
                    <input type="file" name="imgs" multiple>
                    <input type="submit" value="업로드" style="background:#f99b0d; color:white; border:none; border-radius:5px; padding:5px 12px;">
                </div>
            </form>
        </div>
        <div class="mate-gallery-imgs" style="width:1000px; height:550px; overflow:auto;">
            {% for photo in photos.all %}
                <img src="{{photo.image.url}}" height="250" class="mate-gallery-img">
            {% endfor %}
        </div>

    </div>
</div>
{% endblock content %}