{% extends 'base.html' %}

{% load static %}

{% block extra-style %}<link rel="stylesheet" type="text/css" href="{% static 'css/mate_style.css' %}">{% endblock %}

{% block title %}home.html{% endblock %}


{% block content %}
<div class="container">
  <div class="row mb-2">
    <!-- 프로필사진 -->
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="mate-title">프로필</div>
          <div class="mate-profile-img">
            <img src="{{mate.mate1.profile_image.url}}" width="100" height="100">
            <img src="{% static 'img/mate-zigzag.png' %}" height="50">
            <img src="{{mate.mate2.profile_image.url}}" width="100" height="100">
          </div>
        </div>
      </div>
    </div>
    <!-- 게이지 -->
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="mate-title">친밀도</div>
          
        </div>
      </div>
    </div>
    <!-- Mate-Photo -->
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="mate-title">갤러리</div>
          <a href="{% url 'mate:gallery' %}">더보기</a>
          
        </div>
      </div>
    </div>
    <!-- Mate-Task -->
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="mate-title">태스크</div>
          <a href="{% url 'mate:task' %}">더보기</a>
          
        </div>
      </div>
    </div>
  </div>

  <div >
    <div class="col-md-6 px-0">
    <h3>여기는 채팅창이 들어갈 구역</h3>>

    </div>
  </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
<footer class="fixed-bottom bg-info">
    <div class="text-white font-italic text-right mr-5">Copyright &copy; 2020 Be.com by soljik</div>
</footer>
{% endblock %}

