{% extends 'mate/base.html' %}

{% load static %}

{% block extra-style %}<link rel="stylesheet" type="text/css" href="{% static 'css/mate_style.css' %}">{% endblock %}

{% block title %}Be.com - 짝꿍{% endblock %}


{% block content %}
<div class="container">
    <div class="go-home-button"><a href="{% url 'mate:home' %}" style="color:#5B5652;"><img src="{% static 'img/left_arrow.png' %}" height="16" style="float:left; margin-top:4px;">짝꿍 홈</a></div>
    <div class="mate-detail">
        <div class="mate-detail-title">퀘스트</div>
        
        <div class="mate-quest-percent">
            <p style="font-weight:500; font-size: 18px; color: #5B5652;">{{quest_done_num}}개의 퀘스트를 달성했어요!</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{quest_done_per}}%">
                  {{quest_done_per}}%
                </div>
            </div>
        </div>

        <div class="mate-quest-list" style="width:1000px;"> <!-- quest가 list 형태로 있으면 편할 것 같은데 모델에서 ArrayField로 바꾸려니 에러남 -->
            <div class="mate-quest-card-row">
                <div class="mate-quest-card">
                    {% if quests.quest1 == 0 %}
                    <a href="{% url 'mate:quest-done' 1 %}">
                        <div class="yet">도서관 가기</div>
                    </a>
                    {% else %}
                        <div class="done">도서관 가기</div>
                    {% endif %}
                </div>
                <div class="mate-quest-card">
                    {% if quests.quest2 == 0 %}
                    <a href="{% url 'mate:quest-done' 2 %}">
                        <div class="yet">산책하기</div>
                    </a>
                    {% else %}
                        <div class="done">산책하기</div>
                    {% endif %}                    
                </div>
                <div class="mate-quest-card">
                    {% if quests.quest3 == 0 %}
                    <a href="{% url 'mate:quest-done' 3 %}">
                        <div class="yet">숙제하기</div>
                    </a>
                    {% else %}
                        <div class="done">숙제하기</div>
                    {% endif %}           
                </div>
                <div class="mate-quest-card">
                    {% if quests.quest4 == 0 %}
                    <a href="{% url 'mate:quest-done' 4 %}">
                        <div class="yet">선물 주기</div>
                    </a>
                    {% else %}
                        <div class="done">선물 주기</div>
                    {% endif %}
                </div>
            </div>
            <div class="mate-quest-card-row">
                <div class="mate-quest-card">
                    {% if quests.quest5 == 0 %}
                    <a href="{% url 'mate:quest-done' 5 %}">
                        <div class="yet">봉사활동 가기</div>
                    </a>
                    {% else %}
                        <div class="done">봉사활동 가기</div>
                    {% endif %}
                </div>
                <div class="mate-quest-card">
                    {% if quests.quest6 == 0 %}
                    <a href="{% url 'mate:quest-done' 6 %}">
                        <div class="yet">카페 가기</div>
                    </a>
                    {% else %}
                        <div class="done">카페 가기</div>
                    {% endif %}                    
                </div>
                <div class="mate-quest-card">
                    {% if quests.quest7 == 0 %}
                    <a href="{% url 'mate:quest-done' 7 %}">
                        <div class="yet">자전거 타기</div>
                    </a>
                    {% else %}
                        <div class="done">자전거 타기</div>
                    {% endif %}           
                </div>
                <div class="mate-quest-card">
                    {% if quests.quest8 == 0 %}
                    <a href="{% url 'mate:quest-done' 8 %}">
                        <div class="yet">쇼핑하기</div>
                    </a>
                    {% else %}
                        <div class="done">쇼핑하기</div>
                    {% endif %}
                </div>
            </div>
            <div class="mate-quest-card-row">
                <div class="mate-quest-card">
                    {% if quests.quest9 == 0 %}
                    <a href="{% url 'mate:quest-done' 9 %}">
                        <div class="yet">편지 쓰기</div>
                    </a>
                    {% else %}
                        <div class="done">편지 쓰기</div>
                    {% endif %}
                </div>
                <div class="mate-quest-card">
                    {% if quests.quest10 == 0 %}
                    <a href="{% url 'mate:quest-done' 10 %}">
                        <div class="yet">밥 먹기</div>
                    </a>
                    {% else %}
                        <div class="done">밥 먹기</div>
                    {% endif %}                    
                </div>
                <div class="mate-quest-card">
                    {% if quests.quest11 == 0 %}
                    <a href="{% url 'mate:quest-done' 11 %}">
                        <div class="yet">영화 보기</div>
                    </a>
                    {% else %}
                        <div class="done">영화 보기</div>
                    {% endif %}           
                </div>
                <div class="mate-quest-card">
                    {% if quests.quest12 == 0 %}
                    <a href="{% url 'mate:quest-done' 12 %}">
                        <div class="yet">게임하기</div>
                    </a>
                    {% else %}
                        <div class="done">게임하기</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
