{% extends 'myprofile/base.html' %}

{% load static %}
{% block extra-style %}<link rel="stylesheet" type="text/css" href="{% static 'css/myprofile_style.css' %}">{% endblock %}
{% block title %}Be.com - 프로필{% endblock %}

{% block content %}
<div class="container">
  <div class="col1">
    <div class="my-profile-home row">
      <div style="width:100%;">
        <div class="profile-title">내 프로필</div>
        <a href="{% url 'myprofile:detail' my.id %}" style="font-weight:bold; float:right; color:#7A7A7A; font-size:14px;">더보기</a>
      </div>
      <div class="my-profile">
        <img src="{{my.profile_image.url}}" width="150" height="150" style="border-radius:75px; border: 0.75px solid #C4C4C4;">
        <!--<div class="mb-1 text-muted">Nov 12</div>-->
        <div class="my-profile-intro">
          <b>이름</b> &nbsp; {{my.username}}<br>
          <b>학교</b> &nbsp; {{my.school}}<br>
          <b>학급</b> &nbsp; {{my.school_year}}학년 {{my.school_class}}반<br>
          <b>소개</b> &nbsp; {{my.intro}}</p>
        </div>
      </div>
    </div>
    <div class="class-achievement row">
      <div class="profile-title">우리 반 활성도</div>
      <div class="class-level">LEVEL{{class_level}}</div>
      <div class="class-score-text">{{class_score_text}}</div>
      <div class="class-level-img">
        {% if class_level == 1 %}
          <img src="{% static 'img/level1.png' %}" width="100px" alt="우리 반의 활성도">
        {% elif class_level == 2 %}
          <img src="{% static 'img/level2.png' %}" width="100px" alt="우리 반의 활성도">
        {% elif class_level == 3 %}
          <img src="{% static 'img/level3.png' %}" width="100px" alt="우리 반의 활성도">
        {% elif class_level == 4 %}
          <img src="{% static 'img/level4.png' %}" width="100px" alt="우리 반의 활성도">
        {% elif class_level == 5 %}
          <img src="{% static 'img/level5.png' %}" width="100px" alt="우리 반의 활성도">
        {% endif %}
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{class_score}}%">
          {{class_score}}%
        </div>
      </div>
    </div>
  </div>
    
  <div class="col2">
    <div class="friends">
      <div class="profile-title" style="margin:24px;">반 친구들</div>
      <div class="friends-list">
        {% for friend in class_friends.all %}
          <div class="friend-card">
            <a class="friend-card-a" href="{% url 'myprofile:detail' friend.id %}">
              <img src="{{friend.profile_image.url}}" width="80" height="80" style="border-radius:40px; border: 0.75px solid #C4C4C4;">
              <div style="font-size:14px; font-weight:500; line-height: 20px; margin-top:8px;">{{friend.username}}</div>
            </a>
            <div style="height: 1px; background-color: #f99b0d; margin:5px;"></div>
            <div style="font-weight: normal; font-size:12px;">{{friend.intro}}</div>
          </div>
        {% endfor %}
      </div>
      <!--<h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>-->
    </div>
  </div>
</div>
   
{% endblock content %}
