{% extends 'base.html' %}

{% load static %}
{% block extra-style %}<link rel="stylesheet" type="text/css" href="{% static 'css/myprofile_style.css' %}">{% endblock %}
{% block title %}home.html{% endblock %}

{% block content %}
<div class="container">
  <div class="col1">
    <div class="my-profile-home row1">
      <div class="profile-title">내 프로필</div>
      <div style="float:right;"><a href="{% url 'myprofile:detail' my.id %}">더보기</a></div>
      <div class="my-profile">
        <img src="{{my.profile_image.url}}" width="150" height="150" style="border-radius:75px; border: 0.75px solid #C4C4C4;">
        <!--<div class="mb-1 text-muted">Nov 12</div>-->
        <div class="my-profile-intro">
          <b>이름</b> &nbsp; {{my.username}}<br>
          <b>학교</b> &nbsp; {{my.school}}<br>
          <b>학급</b> &nbsp; {{my.school_year}}학년 {{my.school_class}}반<br>
          <b>소개</b> &nbsp; {{my.intro}}</p>
        <!--<a href="#" class="stretched-link">Continue reading</a>-->
        </div>
      </div>
    </div>
    <div class="class-achievement row2">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="profile-title">우리 반 활성도</div>
          <img src="/static/img/active_class.png" width="300px" height="300px" alt="우리 반의 활성도">
          <!-- view에서 class achievement 점수 받아서 점수 범위에 따라 다른 이미지 띄우기 -->
        </div>
      </div>
    </div>
  </div>
    
  <div class="col2">
    <div class="friends">
      <div class="profile-title" style="margin:24px;">반 친구들</div>
      <div class="friends-list">
        {% for friend in class_friends.all %}
          <div class="friend-card">
            <a class="friend-card-a" href="{% url 'myprofile:detail' friend.id %}">
              <img src="{{friend.profile_image.url}}" width="80" height="80" style="border-radius:40px; border: 0.75px solid #C4C4C4;"">
              <div>{{friend.username}}</div>
            </a>
            <div style="height: 1px; background-color: #f99b0d; margin:5px;"></div>
            <div>{{friend.intro}}</div>
          </div>
        {% endfor %}
      </div>
      <!--<h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>-->
    </div>
  </div>
</div>
   
{% endblock content %}

{% block footer %}
<footer class="fixed-bottom bg-info">
    <div class="text-white font-italic text-right mr-5">Copyright &copy; 2020 Be.com by soljik</div>
</footer>
{% endblock %}

