{% extends 'base.html' %}

{% block content %}
    
  <a href="{% url 'home' %}">
    목록으로 돌아가기
  </a>  
    <p> 현재 친목도는: {{my.school_intimacy}}</p>
    <div class="container"> 
        <div class="card">
          <div class="card-body">
            <h1>{{ forum.title }}</h1>
            <p>{{ forum.pub_date }}</p>
            <p>{{ forum.body }}</p>   
            <br>
            {% if forum.images %}
                <img src="{{ forum.images.url }}" width="500" height="500">
            {% endif %}
            <br>
            <br>
            <a href="{% url 'update' forum.id %}"><img src="/static/update.png" alt="수정" width="30"></a>
            <a href="{% url 'delete' forum.id %}"><img src="/static/delete.png" alt="삭제" width="30"></a>
          </div>
        </div>

        <div id="disqus_thread"></div>
      </div>
        
{% endblock %}
{% block extra-script %}
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION
*  BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
*  https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
    this.page.identifier = '{{ disqus_id }}';
    this.page.url = '{{ disqus_url }}';
    this.page.title = '{{ disqus_title }}';
};

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://be-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}