{% extends 'base.html' %}

{% block content %}

    <div class="container"> 
        <div class="card">
          <div class="card-body">
            <h1>{{ forum.title }}</h1>
            <p>{{ forum.pub_date }}</p>
            <p>{{ forum.body }}</p>   
            <br>
            {% if forum.images %}
                <img src="{{ forum.images.url }}" width="500" height="500">
            {% endif %}
            <br>
            <br>
            <a href="{% url 'update' forum.id %}"><img src="/static/update.png" alt="수정" width="30"></a>
            <a href="{% url 'delete' forum.id %}"><img src="/static/delete.png" alt="삭제" width="30"></a>
          </div>
        </div>
      </div>
        
{% endblock %}
