@import url('https://fonts.googleapis.com/css?family=notosanskr.css');
/* navigation bar */
.nav-link.becom-nav.link-active{
    border-bottom: 3px solid #f99b0d;
    box-shadow: inset 0 -4px 0 #f99b0d;
}
.nav-link.becom-nav{
    font-family: Noto Sans KR; 
    font-style: normal; 
    font-weight: 500; 
    font-size:20px; 
    color: #504B47;
}

a {
    text-decoration: none;
    color: black;
}
 a:hover{
    text-decoration: none;
    color: #f99b0d;
}

.container{
    font-family: Noto Sans KR;
}
.profile-title{
    color: #5B5652;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    margin-bottom: 12px;
}
/* HOME 레이아웃 */
.col1{
    width: 40%;
    height: 1000px;
    float: left;
}
.col2{
    width: 60%;
    height: 1000px;
    float: left;
}
/* 홈 - 내 프로필 */
.my-profile-home{
    padding: 24px;
    background: #FFFFFF;
    border: 0.5px solid #D1CCC6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-right: 24px;
    margin-bottom: 24px;
}
.my-profile{
    width:100%;
    text-align:center;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
.my-profile-intro{
    text-align: left;
    margin-top: 32px;
    margin-left: 25%;
    font-size: 16px;
    line-height: 30px;
    color: black;
}

/* 홈 - 반 활성도 */
.class-achievement{
    padding: 24px;
    background: #FFFFFF;
    border: 0.5px solid #D1CCC6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-right: 24px;
    margin-bottom: 48px;
}
.class-level{
    float: right;
    width: 72px;
    height: 26px;
    background: #FFFFFF;
    border: 2px solid #F99B0D;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #F99B0D;
    margin-left: 10px;
}
.class-score-text{
    width: 280px;
    background: #FFFFFF;
    border: 1px solid #D1CCC6;
    box-sizing: border-box;
    border-radius: 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 24px;
    margin: 12px auto;
}
.class-level-img{
    margin: 0 35%;
}
.progress{
    width: 300px;
    margin: 16px auto;
}
.progress-bar {
    border-radius: 7px;
    background-color: #f99b0d;
}
/* 홈 - 반 친구들 */
.friends{
    height: 100%;
    background: #FFFFFF;
    border: 0.5px solid #D1CCC6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-right: 24px;
    margin-bottom: 48px;
}
.friends-list{
    height: auto;
    padding: 12px;
    overflow: auto;
}
.friend-card{
    width: 125px;
    height: 170px;
    margin: 12px;
    padding: 6px;
    float: left;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

/* 디테일 - 프로필 */
.go-home-button{
    margin-bottom: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
}
.my-profile-detail{
    height: 100%;
    padding: 24px;
    background: #FFFFFF;
    border: 0.5px solid #D1CCC6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-right: 24px;
    margin-bottom: 48px;
}

/* 디테일 - 이미지 */
.profile-images{
    height: 100%;
    padding: 24px;
    background: #FFFFFF;
    border: 0.5px solid #D1CCC6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-right: 24px;
    margin-bottom: 48px;
}
.profile-images-list{
    overflow: auto;
    height: 850px;
}
.profile-image{
    position: relative;
    margin: 12px;
    float: left;
    display: block;
}
.profile-image:hover .overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.7;
    transition: .3s ease;
    background-color: #f99b0d;
}
.overlay-text{
    display: none;
}
.profile-image:hover .overlay-text{
    display: block;
}