@import url('https://fonts.googleapis.com/css?family=notosanskr.css');

.profile-title{
    color: #5B5652;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.today_mind {
    height: 350px;
    border-top: 10px solid #ccc;
    border-bottom: 10px solid #ccc;
    padding: 20px 0 0 20px;
}
.class_act {
    height: 350px;
    
    padding: 0px 0 0 20px;
}
.my_mind {
    height: 500px;
    border-top: 10px solid rgb(14, 30, 175);
    border-bottom: 10px solid rgb(14, 30, 175);
    padding: 20px 0 0 20px;
}
.mate_diary {
    height: 350px;
    border-top: 10px solid rgb(244, 200, 175);
    border-bottom: 10px solid rgb(244, 200, 175);
    padding: 20px 0 0 20px;
}
.class_hot {
    height: 350px;
    border-top: 10px solid #ccc;
    border-bottom: 10px solid #ccc;
    padding: 20px 0 0 20px;
}
.title {
    color: #c80;
    font-weight: bold;
}
.powered {
    position: relative;
    top: 77%;
    color: #cc0;
    font-style: italic;
}

/* 홈 - 내 프로필 */
.my-profile-home{

}

/* 홈 - 반 활성도 */
.class-achievement{

}

/* 홈 - 반 친구들 */
.friends-list{
    
}